.navbar {
    font-family: "Times New Roman", Times, serif;
} 

.bright {
  border-right: 1px solid #bbb;
}

.logo {
  width: 45px;
  margin-right: 8px;
}

.myavatar {
  margin-right: 25px;
}

.jumbotron {
  background-image: url(../images/watercolors.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 10px;
}

.jumbotron p {
  font-size: 18px;
}

footer {
  margin-top: 100px;
  color: white;
}
footer img {
  margin-left: 8px;
}

footer a {
  color: white;
}
